{% extends "template.html" %}

{% block header %}
  <title>bookXchange-dashboard</title>
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
        <div class="dashboard col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
          <div class="dashboard-content">
            <p class="dashboard-title">Dashboard</p>
            <div class="dashboard-buttons">
              <a id="dash-myBook-btn" href="/dashboard/mybooks">
                <button class="btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-3">
                  My books
                  <span>({{ my_books_count }})</span>
                </button>
              </a>
              <a id="dash-yourTradeReq-btn" href="/dashboard/myrequests">
                <button class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-3">
                  Your trade requests
                  <span>({{ yourTradeReqCount }})</span>
                </button>
              </a>
              <a id="dash-tradeReqToyou-btn" href="/dashboard/traderequeststoyou">
                <button class="btn btn-secondary col-xs-12 col-sm-12 col-md-12 col-lg-3">
                  Trade requests to you
                  <span>({{ trade_requests_to_you_count }})</span>
                </button>
              </a>
            </div>
            <div class="searchBarDiv">
              <form class="searchBookForm" action="dashboard" method="post">
                <div class="form-group row">
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 nopaddingPanel">
                    <input class="form-control" type="text" name="searchBook" placeholder="Search for a book" required>
                  </div>
                  <button id="searchBookBtn" type="submit" class="btn btn-success col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </form>
            </div>
            <div class="searchedBooksContainer col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="searchedBooksDiv col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for book in books %}
                  <!-- Button to Open the Modal -->
                  <img class="search-img" src="{{ book.thumbnail }}" alt="book_img" style="display:inline-block;" data-toggle="modal" data-target="#{{ book.id }}">

                  <!-- The Modal -->
                  <div class="modal" id="{{ book.id }}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">{{ book.title }}: <span class="bookSubTitle">{{ book.subtitle }}</span></h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="{{ book.link }}" target="_blank">
                              <img src="{{ book.thumbnail }}" alt="book_img">
                            </a>
                            <div class="modal-authors">
                              <p><b>Authors:</b></p>
                              {% for author in book.authors  %}
                                <p>{{ author }}</p>
                              {% endfor %}
                            </div>
                            <p><b>Publisher:</b></p>
                            <p>{{ book.publisher }}</p>
                            <p><b>Published:</b></p>
                            <p>{{ book.publishedDate }}</p>
                          </div>
                          <p><b>Description:</b></p>
                          {{ book.description }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <form class="" action="/dashboard/add/{{ book.id }}" method="post">
                            <button type="submit" class="btn btn-success">Add Book</button>
                          </form>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
