{% extends "template.html" %}

{% block header %}
  <title>bookXchange-myBooks</title>
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
          <div class="dashboard-content">
            <p class="dashboard-title">My Books</p>
          </div>
          <a href="/dashboard">
            <button type="button" class="btn btn-info" name="back-btn">Back</button>
          </a>
          <!-- books div -->
          <div class="myBooksContainer col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="myBooksDiv col-xs-12 col-sm-12 col-md-12 col-lg-12">
              {% if myBooks.length !== 0 %}
                {% for book in myBooks %}
                  <!-- Button to Open the Modal -->
                  <img class="myBook-img" src="{{ book.thumbnail }}" alt="book_img" style="display:inline-block;" data-toggle="modal" data-target="#{{ book._id }}">

                  <!-- The Modal -->
                  <div class="modal" id="{{ book._id }}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">{{ book.title }}: <span class="bookSubTitle">{{ book.subtitle }}</span></h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="{{ book.link }}" target="_blank">
                              <img src="{{ book.thumbnail }}" alt="book_img">
                            </a>
                            <div class="modal-authors">
                              <p><b>Authors:</b></p>
                              {% for author in book.authors  %}
                                <p>{{ author }}</p>
                              {% endfor %}
                            </div>
                            <p><b>Publisher:</b></p>
                            <p>{{ book.publisher }}</p>
                            <p><b>Published:</b></p>
                            <p>{{ book.publishedDate }}</p>
                          </div>
                          <a href="{{ book.link }}" target="_blank">Read more...</a>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <form class="" action="/dashboard/remove/{{ book.volume_id }}" method="post">
                            <button type="submit" class="btn btn-success">Remove Book</button>
                          </form>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p style="color: red">*No books in library*</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
