{% extends "template.html" %}

{% block header %}
  <title>bookXchange-single-requests</title>
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
          <p class="dashboard-title">Request For Trade</p>
          <a href="/dashboard/myrequests">
            <button type="button" class="btn btn-info" name="back-btn">Back</button>
          </a>
          <div class="myrequest-content">
            <table width="100%">
              <tr style="border-bottom: 1px solid black">
                <th>Book to take</th>
                <th>Owner</th>
                <th>Book to give</th>
                <th>From</th>
                <th>Status</th>
              </tr>
              {% for book in request_data %}
                <tr style="border-bottom: 1px solid #f1f1f1">
                  <td class="my-request-td">{{ book.title }}</td>
                  <td class="my-request-td">{{ book.owner }}</td>
                  {% if book.book_id_to_give %}
                    <td>{{ book.title_to_give }}</td>
                    <td>{{ user.name }}</td>
                  {% else %}
                    <td>
                      <form class="" action="/requests/new/give/for/{{ book._id }}" method="get">
                        <button class="btn btn-sm btn-danger">Edit Book to give</button>
                      </form>
                    </td>
                    <td></td>
                  {% endif %}
                  <td class="my-request-td">{{ book.status }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="my-request-td">
                    <form class="" action="/dashboard/myrequests/delete/{{ book._id }}" method="post">
                      <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
