<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    <div id="navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
      <div id="navigation-container" class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
        <div id="main-navigation" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 nopaddingPanel">
          <div id="navigation-logo-container" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 nopaddingPanel">
            <div class="navigation-div">
              <div class="navigation-content">
                <a href="/" class="navigation-links">
                  <p class="nav-content-logo">bookXchange</p>
                </a>
                <!-- sidenav button -->
                <div class="sideNavButton">&#9776;</div>
              </div>
            </div>
          </div>
          <div id="navigation-link-container" class="col-xs-3 col-sm-3 col-md-9 col-lg-9 nopaddingPanel">
            <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
              <div class="navigation-content">
                <a href="/books" class="navigation-links">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  <p>Books</p>
                </a>
              </div>
            </div>
            <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
              <div class="navigation-content">
                <a href="/" class="navigation-links">
                  <i class="fa fa-bandcamp" aria-hidden="true"></i>
                  <p>Requests</p>
                </a>
              </div>
            </div>
            <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
              <div class="navigation-content">
                <a href="/" class="navigation-links">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <p>Trades</p>
                </a>
              </div>
            </div>
            <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
              <div class="navigation-content">
                <a href="/" class="navigation-links">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <p>Users</p>
                </a>
              </div>
            </div>
            {% if user %}
              <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
                <div class="navigation-content">
                  <a href="/settings" class="navigation-links">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <p>Settings</p>
                  </a>
                </div>
              </div>
              <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
                <div class="navigation-content">
                  <a href="/logout" class="navigation-links">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <p>Logout</p>
                  </a>
                </div>
              </div>
            {% else %}
              <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
                <div class="navigation-content">
                  <a href="/register" class="navigation-links">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <p>Sign-up</p>
                  </a>
                </div>
              </div>
              <div class="navigation-div col-xs-12 col-sm-2 col-md-2 col-lg-2 nopaddingPanel">
                <div class="navigation-content">
                  <a href="/login" class="navigation-links">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <p>Login</p>
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- side navigation -->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <a href="/books">Books</a>
        <a href="#">Requests</a>
        <a href="#">Trades</a>
        <a href="#">Users</a>
        {% if user %}
          <a href="/Settings">Settings</a>
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/register">Sign-up</a>
          <a href="/login">Login</a>
        {% endif %}
      </div>
    </div>

    <!-- if error object has any messages -->
    {% if error.length > 0 %}
       <div class="flashMessage alert alert-danger" role="alert">{{ error }}</div>
    <!-- if success object has any messages -->
    {% elif success.length > 0 %}
       <div class="flashMessage alert alert-success" role="alert">{{ success }}</div>
    {% endif %}

    {% block content %}
    {% endblock %}
    <footer>
      <p class="developerCopyright">@dannythedeveloper</p>
    </footer>
  </body>
</html>
