@media only screen and (min-width: 320px) and (max-width: 479px) {
  #navigation-link-container {
    display: none;
  }
  .nav-content-logo {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .sideNavButton {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .fb-icon-btn {
    margin: 5px 0;
  }
  #locationForm {
    margin: 10px 0;
  }
  .authenticate-title {
    font-size: 1.5em;
  }
  .form-control {
    letter-spacing: 1px;
  }
}
