#navigation {
  background-color: #272a34;
}
#navigation-container {
  position: relative;
}
#main-navigation {
  position: relative;
  height: 80px;
  width: 100%;
}
#navigation-link-container {
  display: flex;
  justify-content: space-between;
}
.navigation-div {
  height: 80px;
}
.nav-content-logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  padding: 0 15px;
}
.navigation-content {
  color: silver;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.navigation-content:hover {
  color: #FFFFFF;
}
.navigation-links {
  color: silver;
  transition: 0.3s;
}
.navigation-links:link:focus {
  color: #FFFFFF;
}
.navigation-links:link, .sidenav a:link {
  text-decoration: none;
}
.navigation-links:visited, .sidenav a:visited {
  text-decoration: none;
}
.navigation-links:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.navigation-links:active, .sidenav a:active {
  color: #FFFFFF;
}
.nopaddingPanel {
  padding: 0 !important;
  margin: 0 !important;
}
#mySidenav {
  border: 1px solid black;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:focus {
  color: #FFFFFF;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sideNavButton {
  display: none;
  color: silver;
  font-size: 2em;
  cursor: pointer;
  padding: 0 15px;
  float: right;
}
.sideNavButton:hover {
  color: #FFFFFF;
}
.authentication-form-container {
  padding: 10px;
  height: 500px;
}
.authenticate-title {
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
}
.form-control {
  letter-spacing: 2.5px;
}
.developerCopyright {
  text-align: center;
  bottom: 0;
  letter-spacing: 2.5px;
}
.fullscreen {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #EEEEEE;
}
.cover-div {
  height: 550px;
  margin: 0 auto;
  text-align: center;
}
.cover-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.cover-title {
  letter-spacing: 2.5px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
.cover-slogan {
  letter-spacing: 1.5px;
}
.dashboard-buttons {
  text-align: center;
  padding: 15px;
}
#dash-myBook-btn, #dash-yourTradeReq-btn, #dash-tradeReqToyou-btn {
  text-decoration: none;
}
.dashboard-title {
  letter-spacing: 2.5px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  padding-top: 15px;
}
.searchBarDiv {
  padding: 15px;
  margin: 0 15px;
}
.searchedBooksDiv, .myBooksContainer, .allBooksContainer {
  text-align: center;
}
.search-img, .myBook-img, .allBook-img {
  padding: 10px;
  cursor: pointer;
}
.bookContentDiv {
  display: inline-block;
}
.bookSubTitle {
  font-style: italic;
  font-size: .8em;
}
.myBooksDiv {
  padding: 15px;
}
button[name="back-btn"] {
  margin: 15px;
}
.requestContent, .myrequest-content, .requestForYou-content, .requestForYouContent, .allRequestContent, .usersContainer {
  text-align: center;
  padding: 15px;
}
.incomingRequest-content, .myHistory-content {
  padding: 15px;
}
.my-request-td, .request-for-you-td {
  padding: 2px;
}
